<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538429484958-jjr9eseg3irjtsoa9k0sl64es2uaqqbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538429484958-jjr9eseg3irjtsoa9k0sl64es2uaqqbk</string>
	<key>API_KEY</key>
	<string>AIzaSyCCxwksUV_z99paMmjaqP9PJWpwn-pqjKY</string>
	<key>GCM_SENDER_ID</key>
	<string>538429484958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VincEnterprise1337.APHRODITE</string>
	<key>PROJECT_ID</key>
	<string>aphrodite-8623a</string>
	<key>STORAGE_BUCKET</key>
	<string>aphrodite-8623a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538429484958:ios:77e4575c915ce7f3</string>
	<key>DATABASE_URL</key>
	<string>https://aphrodite-8623a.firebaseio.com</string>
</dict>
</plist>